<%= form_with(model: reservation) do |form| %>
  <% if reservation.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(reservation.errors.count, "error") %> prohibited this reservation from being saved:</h2>

      <ul>
        <% reservation.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :reserve_date, style: "display: block" %>
    <%= form.date_field :reserve_date %>
  </div>

  <div>
    <%= form.label :returning_date, style: "display: block" %>
    <%= form.date_field :returning_date %>
  </div>

  <div>
    <%= form.label :user_id, style: "display: block" %>
    <%= form.text_field :user_id %>
  </div>

  <div>
    <%= form.label :motorcycle_id, style: "display: block" %>
    <%= form.text_field :motorcycle_id %>
  </div>

  <div>
    <%= form.label :city_id, style: "display: block" %>
    <%= form.text_field :city_id %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
