<div id="<%= dom_id reservation %>">
  <p>
    <strong>Reserve date:</strong>
    <%= reservation.reserve_date %>
  </p>

  <p>
    <strong>Returning date:</strong>
    <%= reservation.returning_date %>
  </p>

  <p>
    <strong>User:</strong>
    <%= reservation.user_id %>
  </p>

  <p>
    <strong>Motorcycle:</strong>
    <%= reservation.motorcycle_id %>
  </p>

  <p>
    <strong>City:</strong>
    <%= reservation.city_id %>
  </p>

</div>
