<div id="<%= dom_id motorcycle %>">
  <p>
    <strong>Model no:</strong>
    <%= motorcycle.model_no %>
  </p>

  <p>
    <strong>Model name:</strong>
    <%= motorcycle.model_name %>
  </p>

  <p>
    <strong>Finance fee:</strong>
    <%= motorcycle.finance_fee %>
  </p>

  <p>
    <strong>Purchase fee:</strong>
    <%= motorcycle.purchase_fee %>
  </p>

  <p>
    <strong>Production date:</strong>
    <%= motorcycle.production_date %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= motorcycle.description %>
  </p>

</div>
